:root{
	font-family: 'Poppins', sans-serif;
	--cor-fundo: #E1E3E6;
	--azul: #2034A4;
	--laranja: #ED5B0E;
}

.seo__container{
    display: flex;
    padding-bottom: 3em;
    background: var(--cor-fundo);
}

.seo__title{
    padding: 3em 0em 3em 6em ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.seo__title h1{
    font-size: 3rem;
    font-weight: bold;
    color: var(--laranja);
}

.seo__title p{
    font-size: 1.2rem;
    color: var(--azul);
}

.seo__title li{
    font-size: 1.2rem;
    color: grey;
}

.seo__img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.seo__img img{
    width: 30em;
    padding: 5em 5em 0 12em;
}

.seo__title ul{
    list-style-type: circle;
}

/* Estilos para aparelhos até 768px */

@media (max-width: 768px) {
    .seo__container {
      flex-direction: column;
      padding-bottom: 1.5em;
    }
  
    .seo__title {
      padding: 1em 2em;
      text-align: center;
    }
  
    .seo__title h1 {
      font-size: 2rem;
    }
  
    .seo__title p, .seo__title li {
      font-size: 1rem;
    }
  
    .seo__img img {
      width: 100%;
      max-width: 250px; /* Ajuste o valor conforme necessário */
      padding: 1em;
    }
  }
  