:root{
	font-family: 'Poppins', sans-serif;
	--cor-fundo: #E1E3E6;
	--azul: #2034A4;
	--laranja: #ED5B0E;
}

.ecommerce__container{
    display: flex;
    padding-bottom: 3em;
}

.title{
    padding: 3em 6em 3em 0em ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.title h1{
    font-size: 3rem;
    font-weight: bold;
    color: var(--laranja);
}

.title p{
    font-size: 1.2rem;
    color: var(--azul);
}

.title li{
    font-size: 1.2rem;
    color: grey;
}

.ecommerce__img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ecommerce__img img{
    width: 40em;
    padding: 5em 12em 0 5em;
}

.title ul{
    list-style-type: circle;
}

/* Estilos para aparelhos até 768px */

@media (max-width: 768px) {
  
    .ecommerce__container {
      flex-direction: column;
      padding-bottom: 1.5em;
    }
  
    .title {
      padding: 1em 2em;
      gap: 0.5em;
      text-align: center;
    }
  
    .title h1 {
      font-size: 2rem;
    }
  
    .title p, .title li {
      font-size: 1rem;
    }
  
    .ecommerce__img img {
      width: 100%;
      max-width: 300px; /* Ajuste o valor conforme necessário */
      padding: 1em;
    }
  }
  